<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>장소 검색하기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/place-list.css}">
    <link rel="stylesheet" th:href="@{/css/place-modal.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a719a90ac54806d1be701efc6e0060de&libraries=services"></script>
</head>
<body>
<div class="wtj-theme-place-container">
    <div class="wtj-menu-container">
        <input th:value="${keyword}" type="text" id="keyword" name="keyword" placeholder="장소를 입력해 주세요." class="wtj-keyword">
        <span onclick="searchPlaces()" class="wtj-menu">검색하기</span>
        <span onclick="history.back()" class="wtj-menu">뒤로가기</span>
    </div>
    <div id="menu_wrap" class="wtj-search-place-list-container">
        <ul id="placesList" class="wtj-place-list"></ul>
    </div>
    <div id="pagination"></div>
</div>

<div id="map"></div>

<div id="placeModal" class="wtj-place-modal" style="display: none;">
    <div class="wtj-menu-list">
        <span onclick="addPlace()" class="wtj-menu wtj-menu-create">추가하기</span>
        <span onclick="closePlaceModal()" class="wtj-menu">닫기</span>
    </div>
    <div class="wtj-place-information">
        <p id="placeName" class="wtj-place-name"></p>
        <p id="placeAddress" class="wtj-place-address"></p>
    </div>
    <form id="searchForm" action="/places/create" method="post" style="display: none;">
        <input th:value="${themeNo}" type="hidden" id="themeNo" name="themeNo">
        <input type="hidden" id="no" name="no">
        <input type="hidden" id="name" name="name">
        <input type="hidden" id="address" name="address">
        <input type="hidden" id="phone" name="phone">
        <input type="hidden" id="x" name="x">
        <input type="hidden" id="y" name="y">
    </form>
</div>

<script src="/js/kakao-map-search.js"></script>
<script src="/js/place-modal.js"></script>
</body>
</html>
