<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>로그인 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/user-login.css}">
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
    <div class="wtj-container">
        <form id="userForm">
            <div class="wtj-menu-list">
                <span onclick="history.back()" class="wtj-menu">뒤로 가기</span>
            </div>

            <br>

            <h1 class="wtj-main-title">로그인</h1>

            <br>

            <div class="wtj-social-login">
                <a href="/oauth2/authorization/kakao">
                    <img th:src="@{/images/kakao_login.png}" class="wtj-social-login-image">
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
