<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <title>나의 정보 - 제주 옵서예</title>
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
  <div class="wtj-container">
    <form id="userForm" action="/me" method="post">
      <div class="wtj-menu-list">
        <span onclick="checkValidation()" class="wtj-menu wtj-menu-create">수정하기</span>
        <span onclick="history.back()" class="wtj-menu">뒤로 가기</span>
      </div>

      <h1 class="wtj-main-title">나의 정보</h1>

      <br>

      <h2 class="wtj-sub-title">이메일</h2>
      <input th:value="${user.email}" type="email" readonly>

      <br>

      <h2 class="wtj-sub-title">닉네임</h2>
      <input th:value="${user.nickname}" type="text" id="nickname" name="nickname" maxlength="20">
    </form>

    <script>
      function checkValidation() {
        if (document.getElementById('nickname').value == '') {
          alert('닉네임을 입력해 주세요.');
          return;
        }

        document.getElementById('userForm').submit();
      }
    </script>
  </div>
</div>
</body>
