<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>나의 테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/theme-list.css}">
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
    <div class="wtj-theme-container">
        <div th:if="${themeType == 'personal' || themeType == 'public' || themeType == 'private'}" class="wtj-menu-list">
            <a href="/me/themes/personal" class="wtj-menu">모든 테마</a>
            <a href="/me/themes/public" class="wtj-menu">공개 테마</a>
            <a href="/me/themes/private" class="wtj-menu">비공개 테마</a>
            <a href="/themes/create" class="wtj-menu wtj-menu-create">테마 만들기</a>
        </div>
        <div th:if="${themeType == 'shared' || themeType == 'collaborate' || themeType == 'participate'}" class="wtj-menu-list">
            <a href="/me/themes/shared" class="wtj-menu">모든 테마</a>
            <a href="/me/themes/collaborate" class="wtj-menu">공유 테마</a>
            <a href="/me/themes/participate" class="wtj-menu">참여 테마</a>
            <a href="/themes/create" class="wtj-menu wtj-menu-create">테마 만들기</a>
        </div>

        <br>

        <h1 th:switch="${themeType}" class="wtj-main-title">
            <span>나의 테마 보기 > </span>
            <span th:case="'personal'">모든 테마</span>
            <span th:case="'public'">공개 테마</span>
            <span th:case="'private'">비공개 테마</span>
            <span th:case="'shared'">모든 테마</span>
            <span th:case="'collaborate'">공유 테마</span>
            <span th:case="'participate'">참여 테마</span>
        </h1>

        <br>

        <div th:if="${themeType == 'personal' || themeType == 'public'}">
            <h2 class="wtj-sub-title">공개 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${publicThemes}">
                    <div class="wtj-icon">
                        <a th:href="@{/themes/update(no=${theme.no})}">
                            <img th:src="@{/images/edit_icon.png}" class="wtj-icon-image">
                        </a>
                        <a th:href="@{/themes/delete(no=${theme.no})}">
                            <img th:src="@{/images/delete_icon.png}" class="wtj-icon-image">
                        </a>
                    </div>
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                            <div>[[${theme.userNickname}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <br>

        <div th:if="${themeType == 'personal' || themeType == 'private'}">
            <h2 class="wtj-sub-title">비공개 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${privateThemes}">
                    <div class="wtj-icon">
                        <a th:href="@{/themes/update(no=${theme.no})}">
                            <img th:src="@{/images/edit_icon.png}" class="wtj-icon-image">
                        </a>
                        <a th:href="@{/themes/delete(no=${theme.no})}">
                            <img th:src="@{/images/delete_icon.png}" class="wtj-icon-image">
                        </a>
                    </div>
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                            <div>[[${theme.userNickname}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <br>

        <div th:if="${themeType == 'shared' || themeType == 'collaborate'}">
            <h2 class="wtj-sub-title">공유 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${collaborateThemes}">
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <br>

        <div th:if="${themeType == 'shared' || themeType == 'participate'}">
            <h2 class="wtj-sub-title">참여 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${participateThemes}">
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
