/* 공통 스타일 */
@import url('//fonts.googleapis.com/earlyaccess/jejugothic.css');

* {
    font-family: 'Jeju Gothic';
}

html {
    height: auto;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 67%);
}

a, a:hover {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

/* 헤더 스타일 */
header {
    position: fixed; /* 화면에 고정 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    width: 100%; /* 헤더가 화면의 가로 크기에 맞게 확장 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
    background-color: #FDBB2D; /* 헤더 배경색 (예: 제주도 귤 색상) */
}

.wtj-main {
    margin: 16px 0 16px 48px;
    font-size: xxx-large;
    font-weight: bold;
}

.wtj-main:hover {
    cursor: pointer;
}

.wtj-main-menu-list, .wtj-menu-list {
    display: flex;
    gap: 15px;
    padding: 16px 0 16px 48px;
}

.wtj-main-menu, .wtj-menu {
    background-color: #fff;
    color: #333;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.wtj-main-menu:hover, .wtj-menu:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.wtj-main-container {
    padding: 200px 0 100px 0;
}

/* 푸터 스타일 */
footer {
    position: relative; /* 화면에 고정 */
    transform: translateY(-100%);
    background: #22c0c3;
}

/* 컨테이너 스타일 */
.wtj-container {
    margin: 0 auto;
    width: 33%;
    text-align: left;
    background-color: #FFF5E1;
    padding: 20px 0 40px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 100%;
}

/* 입력 필드 스타일 */
input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 96px);
    padding: 10px;
    margin: 0 48px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.wtj-main-title, .wtj-sub-title {
    margin-left: 48px;
}

.wtj-sub-title {
    font-weight: normal;
}
