.wtj-place-modal {
    margin: 0 auto;
    text-align: left;
    background-color: #FFF5E1;
    padding: 20px 0 0 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.wtj-place-information {
    margin: 0 48px 36px 48px;
}

.wtj-place-name {
    font-size: 30px;
    margin-bottom: 8px;
}

.wtj-place-address {
    font-size: 15px;
    color: #888;
}
