.wtj-link {
    background-color: #fff;
    color: #333;
    font-size: medium;
}

.wtj-link:hover {
    cursor: pointer;
}

.wtj-title-explanation, .wtj-select-list {
    margin: 0 0 24px 48px;
}

.wtj-theme-explanation {
    margin: 0 0 24px 74px;
}

.wtj-sub-explanation {
    font-size: smaller;
}

/* 마지막 <p> 태그가 아닌 경우에만 적용할 스타일 */
.wtj-sub-explanation:not(:last-of-type) {
    margin-bottom: -12px;
}

.wtj-select {
    font-size: larger;
    padding: 4px 1px;
}
