<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-list.css}">
</head>
<body>
<h1 th:if="${themeType} == all" class="wtj-main-title">전체 테마</h1>

<br>

<h2 th:if="${themeType} == all" class="wtj-sub-title">유저 테마</h2>
<ul class="wtj-theme-list">
    <li th:each="theme:${publicThemes}">
        <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
            <div>
                <div>[[${theme.emoji}]]</div>
                <div>[[${theme.title}]]</div>
                <div th:if="${themeType} == all">[[${theme.user.no}]]</div>
            </div>
        </a>
    </li>
</ul>

<br>

<h2 th:if="${themeType} == all" class="wtj-sub-title">참여 테마</h2>
<ul class="wtj-theme-list">
    <li th:each="theme:${shareThemes}">
        <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
            <div>
                <div>[[${theme.emoji}]]</div>
                <div>[[${theme.title}]]</div>
            </div>
        </a>
    </li>
</ul>
</body>
</html>
