<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/header.html}">
<head>
  <title>테마 만들기 - 제주 옵서예</title>
  <link rel="stylesheet" th:href="@{/css/theme-create.css}">
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
  <div class="wtj-container">
    <form id="themeForm">
      <input type="hidden" name="userNo" th:value="${userNo}">

      <div class="wtj-menu-list">
        <span onclick="checkValidation()" class="wtj-menu">만들기</span>
        <span onclick="history.back()" class="wtj-menu">뒤로 가기</span>
      </div>

      <br>

      <h1 class="wtj-main-title">테마 만들기</h1>

      <br>

      <h2 class="wtj-sub-title">테마 이모티콘</h2>
      <div class="wtj-title-explanation">
        <p class="wtj-sub-explanation">이런 이모티콘을 추천해요. &#127749; &#128674; &#128044; &#127796; &#127818; &#129372;</p>
        <p class="wtj-sub-explanation">더 많은 이모티콘은 <a href="https://www.emojiengine.com/ko/" target="_blank" class="wtj-link">이모티콘 키보드</a>에서 확인할 수 있어요.</p>
      </div>
      <input type="text" id="emoji" name="emoji">

      <br>

      <h2 class="wtj-sub-title">테마 이름</h2>
      <input type="text" id="title" name="title">

      <br>

      <h2 class="wtj-sub-title">닉네임</h2>
      <input type="text" th:value="${userNickname}" readonly>

      <br>

      <h2 class="wtj-sub-title">테마 종류</h2>
      <div id="themeType" class="wtj-select-list">
        <label>
          <input type="radio" name="themeType" value="personal" checked /> <span id="personalTheme" style="border: 1px solid;" class="wtj-select">개인 테마</span>
        </label>
        <label>
          <input type="radio" name="themeType" value="shared"/> <span id="sharedTheme" class="wtj-select">공유 테마</span>
        </label>
      </div>
      <div id="personalExplanation" class="wtj-theme-explanation">
        <p class="wtj-sub-explanation">사용자가 직접 만든 테마로, 오직 본인만 장소를 등록할 수 있어요.</p>
        <p class="wtj-sub-explanation">자신의 취향과 관심사에 따라 테마를 정리하고 관리할 수 있어요.</p>
        <p class="wtj-sub-explanation">나만의 특별한 공간을 만들어 보세요.</p>
      </div>
      <div id="sharedExplanation" style="display: none;" class="wtj-theme-explanation">
        <p class="wtj-sub-explanation">함께 만들어가는 테마로, 내가 만든 테마에 다른 사람도 장소를 등록할 수 있어요.</p>
        <p class="wtj-sub-explanation">다른 사람이 만든 테마에도 참여하여 장소를 등록할 수 있어요.</p>
        <p class="wtj-sub-explanation">관심사가 같은 사람들과 협력하며 테마를 더욱 풍성하게 만들어 보세요.</p>
        <p class="wtj-sub-explanation">소통과 공유로 특별한 경험을 만들어 보세요.</p>
      </div>
      <div id="publicType" class="wtj-select-list">
        <label>
          <input type="radio" name="personalType" value="public" checked /> <span id="publicTheme" style="border: 1px solid;" class="wtj-select">공개 테마</span>
        </label>
        <label>
          <input type="radio" name="personalType" value="private" /> <span id="privateTheme" class="wtj-select">비공개 테마</span>
        </label>
      </div>
    </form>

    <script>
    let themeTypeDiv = document.getElementById('themeType');
    let personalThemeText = document.getElementById('personalTheme');
    let sharedThemeText = document.getElementById('sharedTheme');

    let personalExplanationDiv = document.getElementById('personalExplanation');
    let sharedExplanationDiv = document.getElementById('sharedExplanation');

    let publicTypeDiv = document.getElementById('publicType');
    let publicThemeText = document.getElementById('publicTheme');
    let privateThemeText = document.getElementById('privateTheme');

    let isPublic = 1
    let isShare = -1;

    themeTypeDiv.addEventListener('change', function (e) {
      let themeType = e.target.value;
      if (themeType == 'personal') {
        publicTypeDiv.style.display = '';
        personalExplanationDiv.style.display = '';
        sharedExplanationDiv.style.display = 'none';
        personalThemeText.style.border = '1px solid';
        sharedThemeText.style.border = '';

        isPublic = 1;
        isShare = -1;
      } else if (themeType == 'shared') {
        publicTypeDiv.style.display = 'none';
        personalExplanationDiv.style.display = 'none';
        sharedExplanationDiv.style.display = '';
        personalThemeText.style.border = '';
        sharedThemeText.style.border = '1px solid';

        isPublic = -1;
        isShare = 1;
      }
    });

    publicTypeDiv.addEventListener('change', function (e) {
      let themeType = e.target.value;
      if (themeType == 'public') {
        publicThemeText.style.border = '1px solid';
        privateThemeText.style.border = ''

        isPublic = 1;
      } else if (themeType == 'private') {
        publicThemeText.style.border = '';
        privateThemeText.style.border = '1px solid';

        isPublic = 0;
      }
    });

    function checkValidation() {
      if (document.getElementById('emoji').value == '') {
        alert('테마 이모티콘을 입력해 주세요.');
        return;
      }

      if (document.getElementById('title').value == '') {
        alert('테마 이름을 입력해 주세요.');
        return;
      }

      let formData = new FormData(document.getElementById('themeForm'));

      formData.delete('themeType');
      formData.delete('personalType');

      formData.append('isPublic', isPublic);
      formData.append('isShare', isShare);

      fetch("/themes/create", {
        method: "POST",
        redirect: "follow",
        body: formData
      }).then((data) => {
        console.log(data);
      });
    }
    </script>
  </div>
</div>
</body>
</html>
