<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/theme-list.css}">
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
    <div class="wtj-theme-container">
        <div class="wtj-menu-list">
            <a href="/themes" class="wtj-menu">모든 테마</a>
            <a href="/themes/public" class="wtj-menu">개인 테마</a>
            <a href="/themes/collaborate" class="wtj-menu">공유 테마</a>
            <a th:if="${#authentication.name != 'anonymousUser'}" href="/themes/create" class="wtj-menu wtj-menu-create">테마 만들기</a>
        </div>

        <br>

        <h1 th:switch="${themeType}" class="wtj-main-title">
            <span>전체 테마 보기 > </span>
            <span th:case="'themes'">모든 테마</span>
            <span th:case="'public'">개인 테마</span>
            <span th:case="'collaborate'">공유 테마</span>
        </h1>

        <br>

        <div th:if="${themeType == 'themes' || themeType == 'public'}">
            <h2 class="wtj-sub-title">개인 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${publicThemes}">
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                            <div>[[${theme.userNickname}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <br>

        <div th:if="${themeType == 'themes' || themeType == 'collaborate'}">
            <h2 class="wtj-sub-title">공유 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${collaborateThemes}">
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
