<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/theme-list.css}">
</head>
<body>
<div class="wtj-menu-list">
    <a href="/themes" class="wtj-menu">모든 테마</a>
    <a href="/themes/public" class="wtj-menu">개인 테마</a>
    <a href="/themes/collaborate" class="wtj-menu">공유 테마</a>
    <a href="/themes/create" class="wtj-menu">테마 만들기</a>
</div>

<br>

<h1 th:switch="${themeType}" class="wtj-main-title">
    <span th:case="'themes'">모든 테마</span>
    <span th:case="'public'">개인 테마</span>
    <span th:case="'collaborate'">공유 테마</span>
</h1>

<br>

<h2 th:switch="${themeType}" class="wtj-sub-title">
    <span th:case="'themes'">개인 테마</span>
    <span th:case="'public'">개인 테마</span>
    <span th:case="'collaborate'">공유 테마</span>
</h2>

<ul class="wtj-theme-list">
    <li th:each="theme : ${themeType == 'themes' or themeType == 'public' ? publicThemes : collaborateThemes}">
    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
            <div>
                <div>[[${theme.emoji}]]</div>
                <div>[[${theme.title}]]</div>
                <div th:if="${themeType} == 'themes' or ${themeType} == 'public'">[[${theme.userNickname}]]</div>
            </div>
        </a>
    </li>
</ul>

<br>

<div th:if="${themeType == 'themes'}">
<h2 class="wtj-sub-title">공유 테마</h2>

<ul class="wtj-theme-list">
    <li th:each="theme : ${collaborateThemes}">
    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
            <div>
                <div>[[${theme.emoji}]]</div>
                <div>[[${theme.title}]]</div>
            </div>
        </a>
    </li>
</ul>
</div>
</body>
</html>
