<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>나의 테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/theme-list.css}">
</head>
<body>
<div layout:fragment="content" class="wtj-main-container">
    <div class="wtj-theme-container">
        <div class="wtj-menu-list">
            <a th:href="@{/themes/personal(userNo=${userNo})}" class="wtj-menu">모든 테마</a>
            <a th:href="@{/themes/public(userNo=${userNo})}" class="wtj-menu">공개 테마</a>
            <a th:href="@{/themes/private(userNo=${userNo})}" class="wtj-menu">비공개 테마</a>
            <a th:href="@{/themes/create(userNo=${userNo})}" class="wtj-menu">테마 만들기</a>
        </div>

        <br>

        <h1 th:switch="${themeType}" class="wtj-main-title">
            <span>나의 개인 테마 보기 > </span>
            <span th:case="'personal'">모든 테마</span>
            <span th:case="'public'">공개 테마</span>
            <span th:case="'private'">비공개 테마</span>
        </h1>

        <br>

        <h2 th:switch="${themeType}" class="wtj-sub-title">
            <span th:case="'personal'">공개 테마</span>
            <span th:case="'public'">공개 테마</span>
            <span th:case="'private'">공유 테마</span>
        </h2>

        <ul class="wtj-theme-list">
            <li th:each="theme : ${themeType == 'personal' or themeType == 'public' ? publicThemes : privateThemes}">
                <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                    <div>
                        <div>[[${theme.emoji}]]</div>
                        <div>[[${theme.title}]]</div>
                    </div>
                </a>
            </li>
        </ul>

        <br>

        <div th:if="${themeType == 'personal'}">
            <h2 class="wtj-sub-title">비공개 테마</h2>

            <ul class="wtj-theme-list">
                <li th:each="theme : ${privateThemes}">
                    <a th:href="@{/themes/get(no=${theme.no})}" class="wtj-theme">
                        <div>
                            <div>[[${theme.emoji}]]</div>
                            <div>[[${theme.title}]]</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
