<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>테마 보기 - 제주 옵서예</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/place-list.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a719a90ac54806d1be701efc6e0060de"></script>
</head>
<body>
<div class="wtj-theme-place-container">
    <div class="wtj-menu-container">
        <a th:if="${#authentication.name == 'anonymousUser'}" href="/me/login" class="wtj-menu">로그인</a>
        <span th:if="${#authentication.name != 'anonymousUser' and isCreate != 0}" onclick="searchPlaces();" class="wtj-menu">추가할 장소 검색하기</span>
        <span onclick="history.back()" class="wtj-menu">뒤로가기</span>
    </div>
    <div class="wtj-theme-container">
        <div>[[${theme.emoji}]]</div>
        <div>[[${theme.title}]]</div>
        <div>[[${theme.userNickname}]]</div>
    </div>
    <div class="wtj-place-list-container">
        <ul id="placesList" class="wtj-place-list"></ul>
    </div>
</div>

<div id="map"></div>

<form id="searchForm" action="/search/place" method="post" style="display: none;">
    <input th:value="${theme.no}" type="hidden" id="themeNo" name="themeNo">
</form>

<script src="/js/kakao-map-list.js"></script>

<script th:inline="javascript">
    var themeNo = [[${theme.no}]];

    function searchPlaces() {
        document.getElementById('searchForm').submit();
    }

    // 마커를 표시할 위치와 title 객체 배열입니다
    let placeList = [[${theme.placeList}]];

    if (placeList.length > 0) {
        let positions = [];

        for (let i = 0; i < placeList.length; i++) {
            positions.push(placeList[i].placeDTO);
        }

        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displayPlaces(positions);
    }

    function deletePlace(themeNo, placeNo) {
        fetch('/places/delete?themeNo=' + themeNo + '&no=' + placeNo, { method: 'GET' })
            .then(res => {
                if (res.ok) {
                    // 1. 마커 제거
                    if (markers[placeNo]) {
                        markers[placeNo].setMap(null);  // 지도에서 제거
                        delete markers[placeNo];        // 캐시에서도 제거
                    }

                    // 2. DOM 요소 제거
                    const li = document.getElementById(placeNo);
                    li.remove();
                } else {
                    alert("장소 삭제 중 오류가 발생했습니다.");
                }
            })
            .catch(err => {
                alert("장소 삭제 중 오류가 발생했습니다.");
                console.log(err);
            });
    }

    const auth = [[${#authentication}]];
    console.log(auth);

    // SSE 연결 설정
    if (auth.name != 'anonymousUser') {
        const eventSource = new EventSource('/sse/subscribe');

        eventSource.addEventListener('notification', function (event) {
            const data = JSON.parse(event.data);
            console.log('알림 수신 : ', data);

            alert(data.message);
        });

        eventSource.onerror = function (error) {
            console.error('SSE 연결 오류 : ', error);
        };
    }
</script>
</body>
</html>
